:root {
  --colorBlanco: #fcfcfc;
  --colorAzul: #151f27;
  --colorAzulClaro: #233545;
  --colorLink: #0075ff;
  --colorGoogle: #016cfe;
  --colorGris: #c1c1c1;
  --colorVerde: #4ecb71;
  --colorRojo: #FF1A43;
}
* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
