* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(107.56deg, #151f27 0%, #233545 100%);
  color: var(--colorBlanco);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapperNotFoundPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h2 {
    position: relative;
    top: 8%;
    font-size: 4em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  svg {
    position: absolute;
    left: 0;
    top: 42%;
    margin: auto;
  }
  h1 {
    font-size: 20em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    letter-spacing: 10px;
    user-select: none;
  }
  p {
    position: relative;
    font-size: 1.25em;
    font-weight: 400;
    bottom: 8%;
    margin: 0;
    padding: 0;
  }
  a {
    color: var(--colorLink);
    text-decoration: none;
    transition: text-decoration 250ms;
    &:hover {
      text-decoration: underline;
    }
  }
}
