<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload video</title>
</head>
<body>
    <h1>Subir video</h1>
    <form action="UploadVideo" method="POST" enctype="multipart/form-data">
        <input type="file" name="video">
        <button type="submit">
            Subir
        </button>
        <input type="text" name="idUsuario">
        <input type="text" name="titulo">
        <input type="text" name="rival">
        <input type="text" name="esPartido">
        <input type="text" name="esFavorito">
        <input type="date" name="FechaPartido">
    </form>
</body>
</html>