<tr>
            <td>
                <h1>Crear nueva contraseña</h1>
            </td>
        </tr>
        <tr>
            <td>
                <hr>
                <p>En caso de que no haya solicitado cambiar su contraseña puede simplemente ignorar este mail. <br><br>De lo contrario puede hacer click en el siguiente link  para hacer el cambio:</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://localhost:5173/confirmNewPassword">https://hawkeye.com/HAase%&adaW13</a>
            </td>
        </tr>
        <tr>
            <td>
                <i>El equipo de hawkeye</i>
                <hr>
            </td>
        </tr>
        <tr>
            <td>
                <h6>
                    Copyright © 2022 Hawkeye
                </h6>
            </td>
        </tr>
    </table>