body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper-su {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.wrapper-su .left-side {
  background: var(--colorAzul);
  color: var(--colorBlanco);
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 480px) {
  .wrapper-su .left-side {
    width: 100%;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10vh;
  }
}

.wrapper-su .left-side h2 {
  font-size: 32px;
  padding-bottom: 3vh;
  margin: 0;
  font-weight: 600;
}

.wrapper-su .left-side .google {
  font-size: 16px;
  width: 70%;
}

.wrapper-su .left-side .divider {
  width: 68%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-su .left-side .divider::before {
  content: "";
  display: block;
  background-color: var(--colorBlanco);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
}

.wrapper-su .left-side .divider::after {
  content: "";
  display: block;
  background-color: var(--colorBlanco);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
}

.wrapper-su .left-side .divider p {
  padding: 0 0.5em;
}

.wrapper-su .left-side Form {
  width: 68%;
}

.wrapper-su .left-side Form Button {
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
}

.wrapper-su .left-side .link-login {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-su .left-side .link-login a {
  color: var(--colorLink);
  text-decoration: none;
  -webkit-transition: -webkit-text-decoration 250ms;
  transition: -webkit-text-decoration 250ms;
  transition: text-decoration 250ms;
  transition: text-decoration 250ms, -webkit-text-decoration 250ms;
}

.wrapper-su .left-side .link-login a:hover {
  text-decoration: underline;
}

.wrapper-su .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--colorAzul);
  width: 70%;
  border: 1px solid var(--colorAzulClaro);
}

@media (max-width: 480px) {
  .wrapper-su .right-side {
    display: none;
  }
}

.wrapper-su .right-side .overlay {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: rgba(24, 37, 48, 0.6);
}

.wrapper-su .right-side video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper-su .right-side .content {
  overflow: hidden;
  position: absolute;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapper-su .right-side .content .bar {
  width: 3px;
  height: 250px;
  border-radius: 200px;
  background-color: var(--colorVerde);
}

.wrapper-su .right-side .content h1 {
  font-size: 5em;
  font-weight: 600;
  color: var(--colorBlanco);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1600px) {
  .wrapper-su .right-side .content h1 {
    font-size: 4em;
  }
}

@media (max-width: 768px) {
  .wrapper-su .right-side .content h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 1340px) and (min-width: 480px) {
  .wrapper-su .right-side {
    display: none;
  }
  .wrapper-su .left-side {
    width: 100%;
  }
}
/*# sourceMappingURL=SignUpPage.css.map */