:root{
    --colorPri: #262626;
    --colorSec: #E0E0E0;
}

a{
    text-decoration: none;
}

button{
    background: var(--colorPri);
    border: 3px solid var(--colorSec);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 98.5px;
    gap: 10px;
    box-sizing: border-box;

    font-family: 'Poppins';
    color: var(--colorSec);
    font-size: 20px;
    font-weight: 600;
    color: var(--colorSec);

    transition: 0.4s ease;
        
}



button:hover{
    
    background: var(--colorSec);

    color: var(--colorPri);
    cursor: pointer;
}

