.wrapper-ap .profile-bg {
  width: 100%;
  height: 30vh;
  background: radial-gradient(100% 100% at 50% 100%, #1b2935 0%, #151f27 100%, #1e2e3b 100%);
}
.wrapper-ap .content-ap {
  width: 100%;
  background-color: var(--colorAzul);
  min-height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper-ap .content-ap .profile-data {
  display: flex;
  width: 80%;
  background-color: var(--colorAzul);
}
.wrapper-ap .content-ap .profile-data .profile-picture-main {
  position: relative;
  left: 0;
  top: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 10px solid var(--colorAzul);
  border-radius: 100%;
  background-color: var(--colorAzulClaro);
}
.wrapper-ap .content-ap .profile-data .user-names {
  margin: 25px;
  display: flex;
  flex-direction: column;
}
.wrapper-ap .content-ap .profile-data .user-names h3 {
  font-size: 20px;
  font-weight: 600;
}
.wrapper-ap .content-ap .profile-data .user-names p {
  font-size: 16px;
  font-weight: 300;
  color: #bbbbbb;
}
.wrapper-ap .content-ap .profile-data .amount-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin: 0 25px 36px 25px;
}
.wrapper-ap .content-ap .profile-data .amount-trainings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin: 0 25px 36px 25px;
}
.wrapper-ap .content-ap .profile-data .amount-matches {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin: 0 25px 36px 25px;
}
.wrapper-ap .content-ap .search-filters {
  width: 80%;
  background-color: var(--colorAzul);
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.wrapper-ap .content-ap .search-filters #search-bar-container {
  box-shadow: 0px 5px 20px 5px rgba(23, 32, 39, 0.5);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #1a2630;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.25s ease;
}
.wrapper-ap .content-ap .search-filters #search-bar-container:focus-within {
  background-color: #1b2935;
}
.wrapper-ap .content-ap .search-filters #search-bar-container svg {
  position: relative;
  left: 5px;
  margin-left: 15px;
}
.wrapper-ap .content-ap .search-filters #search-bar-container input {
  background-color: transparent;
  box-sizing: border-box;
  padding: 0 25px 0 25px;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  border: none;
  width: 100%;
  color: var(--colorBlanco);
}
.wrapper-ap .content-ap .search-filters #search-bar-container input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 1px;
  background-position: center center;
  background-size: 20px 20px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #fcfcfc), color-stop(0.54, #fcfcfc), color-stop(0.54, transparent), to(transparent)), -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(0.46, transparent), color-stop(0.46, #fcfcfc), color-stop(0.54, #fcfcfc), color-stop(0.54, transparent), to(transparent)) !important;
  border: 2px solid transparent;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  border-radius: 1em;
}
.wrapper-ap .content-ap .search-filters #search-bar-container input:focus {
  outline: none;
}
.wrapper-ap .content-ap .search-filters #search-bar-container input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #283a49;
  font-weight: 600;
  font-size: 16px;
  opacity: 1; /* Firefox */
}
.wrapper-ap .content-ap .search-filters #search-bar-container input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #283a49;
  font-weight: 600;
  font-size: 16px;
  opacity: 1; /* Firefox */
}
.wrapper-ap .content-ap .search-filters #search-bar-container input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #283a49;
  font-weight: 600;
  font-size: 16px;
  opacity: 1; /* Firefox */
}
.wrapper-ap .content-ap .search-filters #search-bar-container input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #283a49;
  font-size: 16px;
  font-weight: 600;
}
.wrapper-ap .content-ap .search-filters #search-bar-container input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #283a49;
  font-size: 16px;
  font-weight: 600;
}
.wrapper-ap .content-ap .search-filters .filters {
  padding-top: 40px;
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  transition: all 500ms ease-in;
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters h3 {
  transition: all 500ms ease-in;
  font-size: 16px;
  font-weight: 600;
  color: var(--colorVerde);
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters svg {
  transition: all 300ms linear;
  padding-right: 10px;
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters .arrow-filter {
  transition: all 300ms ease-in;
  padding-left: 5px;
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters:hover {
  cursor: pointer;
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters:hover .settings-filter {
  filter: drop-shadow(0px 0px 5px rgba(78, 203, 113, 0.4));
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters:hover .arrow-filter {
  transform: translateY(0.5px);
  filter: drop-shadow(0px 0px 5px rgba(78, 203, 113, 0.6));
}
.wrapper-ap .content-ap .search-filters .filters .btn-filters:hover h3 {
  text-shadow: 0px 0px 5px rgba(78, 203, 113, 0.4);
}
.wrapper-ap .content-ap .search-filters .filters .filters-container {
  overflow: hidden;
}
.wrapper-ap .content-ap .search-filters .filters .filters-container form .filters-box {
  margin: 35px 0 35px 0;
  box-sizing: border-box;
  padding-left: 15px;
}
.wrapper-ap .content-ap .search-filters .filters .filters-container form .filters-box .form-control {
  margin-right: 35px;
}
.wrapper-ap .content-ap .divider {
  width: 80%;
  height: 1.5px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: var(--colorAzulClaro);
}
.wrapper-ap .content-ap .videos {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.wrapper-ap .content-ap .videos .emptyAccount {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}
.wrapper-ap .content-ap .videos .emptyAccount h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.inactive-arrow {
  rotate: -180deg;
}

.filters-visible {
  transition: height 0.3s ease-in-out;
}

.filters-invisible {
  transition: height 0.3s ease-in-out;
}/*# sourceMappingURL=AnalysisPage.css.map */