.wrapper-v {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--colorAzul);
  .video-container {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      width: 90%;
    }
  }
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    .minimap {
      width: 80%;
      height: 85%;
      box-sizing: border-box;
      border-bottom: 1px solid var(--colorAzulClaro);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
      }
      .map-container {
        /*
        width: 268px;
        height: 524px;
        */
        margin-top: 5vh;
        width: calc((268px / 4) * 3);
        height: calc((524px / 4) * 3);
        background-color: var(--colorAzulClaro);
        border-radius: 10px;
      }
    }
    .speed {
      width: 80%;
      height: 15%;
      box-sizing: border-box;
      padding: 5vh 0 5vh 0;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 16px;
        font-weight: 300;
        span {
          font-size: 20px;
          font-weight: 600;
          color: var(--colorVerde);
        }
      }
    }
  }
}
