@charset "UTF-8";
.enduse-nav {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  padding: 0%;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enduse-nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}
.enduse-nav .nav-content ul {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enduse-nav .nav-content ul li {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  height: 100%;
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 200ms ease-in;
  list-style: none;
}
.enduse-nav .nav-content ul li::after {
  content: "";
  display: block;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--colorVerde);
  transition: all 400ms ease-out;
}
.enduse-nav .nav-content ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color 200ms ease-in;
  text-decoration: none;
  font-size: 1em;
  color: var(--colorBlanco);
}
.enduse-nav .nav-content ul li a:hover {
  color: var(--colorVerde);
}
.enduse-nav .nav-content .profile-container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.enduse-nav .nav-content .profile-container P {
  margin-left: 10px;
}
.enduse-nav .nav-content .profile-container svg {
  transition: all 200ms ease-in;
}
.enduse-nav .nav-content .profile-container:hover svg {
  transform: translateY(10%);
}

#grabar {
  color: var(--colorVerde);
}
#grabar::after {
  content: "";
  display: block;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--colorVerde);
  transition: all 400ms ease-out;
  box-shadow: inset 0 0 0.5em 0 rgb(78, 203, 113), 0 0 0.5em rgb(78, 203, 113);
}
#grabar a {
  color: var(--colorVerde);
}

#análisis::after {
  content: "";
  display: block;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--colorVerde);
  transition: all 400ms ease-out;
  box-shadow: inset 0 0 0.5em 0 rgb(78, 203, 113), 0 0 0.5em rgb(78, 203, 113);
}
#análisis a {
  color: var(--colorVerde);
}

#ayuda::after {
  content: "";
  display: block;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--colorVerde);
  transition: all 400ms ease-out;
  box-shadow: inset 0 0 0.5em 0 rgb(78, 203, 113), 0 0 0.5em rgb(78, 203, 113);
}
#ayuda a {
  color: var(--colorVerde);
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.menu {
  position: fixed;
  top: 100px;
  right: 10%;
  display: flex;
  justify-content: center;
  z-index: 10;
  align-items: center;
  gap: 15px;
  background-color: var(--colorAzul);
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--colorAzulClaro);
  overflow: hidden;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.menu p {
  font-size: 16px;
  color: var(--colorRojo);
}
.menu:hover .icon-logout {
  filter: drop-shadow(0px 0px 5px rgba(255, 26, 67, 0.8));
}
.menu:hover p {
  text-shadow: 0px 0px 5px rgba(255, 26, 67, 0.4);
}

.notdropdown {
  height: 0;
  border: none;
}/*# sourceMappingURL=EndUseNavbar.css.map */