nav {
  position: fixed;
  z-index: 100;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 72px;
  background-color: rgba(21, 31, 39, 0.8);
  border-bottom: 1px solid #233545;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .logo-set {
  min-width: 10%;
  height: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .links-navbar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links-navbar .nav {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  height: 100%;
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

nav .links-navbar .nav a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--colorBlanco);
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

nav .links-navbar .nav a:hover {
  color: var(--colorVerde);
}

nav .links-navbar .nav::after {
  content: '';
  display: block;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--colorVerde);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

nav .links-navbar .nav:hover::after {
  width: 100%;
  -webkit-box-shadow: inset 0 0 0.5em 0 #4ecb71, 0 0 0.5em #4ecb71;
          box-shadow: inset 0 0 0.5em 0 #4ecb71, 0 0 0.5em #4ecb71;
}

nav .links-navbar .nav:hover {
  color: var(--colorVerde);
}

nav .links-navbar .home-link {
  color: var(--colorVerde);
  background: rgba(158, 158, 158, 0.1);
  border-bottom: 1px solid var(--colorVerde);
}

.scroll-down {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*# sourceMappingURL=Navbar.css.map */