nav {
  position: fixed;
  z-index: 100;
  width: 100vw;
  box-sizing: border-box;
  height: 80px;
  background-color: rgba(21, 31, 39, 0.8);
  border-bottom: 1px solid #233545;
  backdrop-filter: blur(5px);
  padding-left: 9vw;
  padding-right: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;

  .logo-set {
    position: absolute;
    left: 9vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links-navbar {
    width: 70%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

    .nav {
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      height: 100%;
      width: 16%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: color 200ms ease-in;
      a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        transition: color 200ms ease-in;
        &:hover {
          color: var(--colorVerde);
        }
      }
      &::after {
        content: "";
        display: block;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--colorVerde);
        transition: all 400ms ease-out;
      }

      &:hover::after {
        width: 100%;
        box-shadow: inset 0 0 0.5em 0 rgba(78, 203, 113, 1),
          0 0 0.5em rgba(78, 203, 113, 1);
      }
    }

    /*
    a{
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
      height: 100%;
      width: 16%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 200ms ease-in;
      &::after{
        content: '';
        display: block;
        left: 50%;
        bottom: 0;
        height: 1px;
        transition: all 400ms ease-out;
      }
      &:hover{
        color: var(--colorVerde);
      }
      li{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    */
    .home-link {
      color: var(--colorVerde);
      background: rgba(158, 158, 158, 0.1);
      border-bottom: 1px solid var(--colorVerde);
    }
  }
}
