.hero-section-h {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/home-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section-h .brand-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero-section-h .brand-section-container .brand-section {
  box-sizing: content-box;
  translate: 9vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
.hero-section-h .brand-section-container .brand-section .bar {
  z-index: 100;
  margin-right: 40px;
  border-radius: 100px;
  width: 4px;
  height: 0;
  background-color: var(--colorVerde);
}
.hero-section-h .brand-section-container .brand-section .texts-lp h1 {
  margin-bottom: 25px;
  font-size: 4em;
  font-weight: 600;
  line-height: 1.3;
}
.hero-section-h .brand-section-container .brand-section .texts-lp h1 span {
  color: var(--colorVerde);
}
@media (max-width: 1366px) {
  .hero-section-h .brand-section-container .brand-section .texts-lp h1 {
    font-size: 48px;
  }
}
.hero-section-h .brand-section-container .brand-section .texts-lp .par-lp {
  color: #9e9e9e;
}
.hero-section-h .brand-section-container .brand-section .texts-lp .button-home {
  margin-top: 50px;
  height: 50px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
  width: 250px;
}
.hero-section-h .first-footer {
  position: absolute;
  bottom: 0;
  font-weight: 200;
  background-color: rgba(21, 31, 39, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 70px;
  border-top: 1px solid #233545;
  border-bottom: 1px solid #233545;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
.hero-section-h .first-footer img {
  max-width: 64px;
}

.bottom-section-h {
  width: 100%;
  background: linear-gradient(155.51deg, #223342 0%, #161e24 100%);
}
.bottom-section-h .divider {
  width: 80%;
  height: 1.5px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: var(--colorAzulClaro);
}
.bottom-section-h .features {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-section-h .features .features-content {
  box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 50px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-section-h .features .features-content .features-titles {
  text-align: center;
  padding-bottom: 100px;
}
.bottom-section-h .features .features-content .features-titles p {
  font-size: 1em;
  color: var(--colorVerde);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  margin: 0 15px;
}
.bottom-section-h .features .features-content .features-titles h3 {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0 15px;
}
.bottom-section-h .features .features-content .features-titles h3 span {
  color: var(--colorVerde);
}
.bottom-section-h .features .features-content .features-blocks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bottom-section-h .features .features-content .features-blocks-container .rowf-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bottom-section-h .features .features-content .features-blocks-container .rowf-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bottom-section-h .features .features-content .features-blocks-container .box-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 50px;
  width: 350px;
  height: 175px;
  border-radius: 20px;
}
.bottom-section-h .features .features-content .features-blocks-container .box-feature img {
  width: 72px;
}
.bottom-section-h .features .features-content .features-blocks-container .box-feature h4 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  padding-bottom: 15px;
}
.bottom-section-h .features .features-content .features-blocks-container .box-feature p {
  color: #bbbbbb;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
.bottom-section-h .benefits {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bottom-section-h .benefits img {
  width: 800px;
}
@media (max-width: 900px) {
  .bottom-section-h .benefits img {
    width: 600px;
  }
}
@media (max-width: 700px) {
  .bottom-section-h .benefits img {
    width: 500px;
  }
}
.bottom-section-h .benefits p {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: var(--colorVerde);
  margin: 5vh 15px 10px 15px;
}
.bottom-section-h .benefits h3 {
  text-align: center;
  margin: 0 15px 5vh 15px;
  font-size: 2em;
  font-weight: 600;
}
.bottom-section-h .benefits h3 span {
  color: var(--colorVerde);
}
.bottom-section-h .hawkeye-team {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 75px;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles {
  transition: all 1s ease-in;
  text-align: center;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 0 15px;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles h3 span {
  color: var(--colorVerde);
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles p {
  padding-top: 10px;
  font-weight: 300;
  font-size: 1em;
  margin: 0 15px;
  padding-bottom: 75px;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .card-member {
  margin: 50px 25px 25px 25px;
  transition: all 1s ease-in;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .card-member:nth-child(2) {
  transition-delay: 200ms;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .card-member:nth-child(3) {
  transition-delay: 400ms;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .card-member:nth-child(4) {
  transition-delay: 600ms;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .team-box {
  width: 300px;
  height: 350px;
  border-radius: 20px;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .row-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .row-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Arotu-background {
  background-color: var(--colorAzulClaro);
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Alan-background {
  background-color: var(--colorAzulClaro);
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Guido-background {
  background-color: var(--colorAzulClaro);
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Ary-background {
  background-color: var(--colorAzulClaro);
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members h4 {
  padding-top: 20px;
  font-size: 1.25em;
  font-weight: 600;
}
.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members p {
  font-size: 1em;
  font-style: italic;
  color: var(--colorVerde);
  padding-top: 10px;
}
.bottom-section-h .last-cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-section-h .last-cta .last-cta-content {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-section-h .last-cta .last-cta-content .last-cta-titles {
  text-align: center;
}
.bottom-section-h .last-cta .last-cta-content .last-cta-titles h3 {
  font-size: 2em;
  font-weight: 600;
  margin: 0 15px;
}
.bottom-section-h .last-cta .last-cta-content .last-cta-titles h3 span {
  color: var(--colorVerde);
}
.bottom-section-h .last-cta .last-cta-content .last-cta-titles p {
  padding-top: 10px;
  margin: 0 15px;
  font-size: 16px;
  font-weight: 300;
}
.bottom-section-h .last-cta .last-cta-content .button-home {
  margin-top: 50px;
  height: 50px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
  width: 250px;
}
.bottom-section-h .second-footer {
  width: 100%;
  background-color: #151a1e;
  border-top: 1px solid var(--colorAzulClaro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bottom-section-h .second-footer .footer-content {
  box-sizing: border-box;
  padding-top: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-section-h .second-footer .footer-content h3 {
  padding-top: 3vh;
  margin: 0 15px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 600;
}
.bottom-section-h .second-footer .footer-content p {
  text-align: center;
  font-size: 1em;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin: 0 15px;
}
.bottom-section-h .second-footer .footer-content p a {
  color: var(--colorLink);
  text-decoration: none;
}
.bottom-section-h .second-footer .footer-content p a:hover {
  text-decoration: underline;
}
.bottom-section-h .second-footer .social-networks {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.bottom-section-h .second-footer .social-networks .button-sn-twitter {
  margin: 15px 0 35px 0;
  width: 60px;
  height: 60px;
  background-color: var(--colorBlanco);
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-section-h .second-footer .social-networks .button-sn-twitter:hover {
  background-color: #1da1f2;
  box-shadow: 0 0 15px hsla(203deg, 89%, 53%, 0.4);
}
.bottom-section-h .second-footer .social-networks .button-sn-twitter .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: all 0.5s ease-in-out;
}
.bottom-section-h .second-footer .social-networks .button-sn-twitter .icon path {
  transition: all 0.5s ease-in-out;
  fill: var(--colorAzul);
}
.bottom-section-h .second-footer .social-networks .button-sn-twitter .icon:hover path {
  fill: var(--colorBlanco);
}
.bottom-section-h .second-footer .social-networks .button-sn-instagram {
  box-sizing: border-box;
  margin: 15px 0 35px 0;
  width: 60px;
  height: 60px;
  background-color: var(--colorBlanco);
  cursor: pointer;
  border-radius: 45px;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-section-h .second-footer .social-networks .button-sn-instagram:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  box-shadow: 0 0 15px hsla(319deg, 71%, 49%, 0.4);
}
.bottom-section-h .second-footer .social-networks .button-sn-instagram .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: all 0.5s ease-in-out;
}
.bottom-section-h .second-footer .social-networks .button-sn-instagram .icon path {
  transition: all 0.3s ease-in-out;
  fill: var(--colorAzul);
}
.bottom-section-h .second-footer .social-networks .button-sn-instagram .icon:hover path {
  fill: var(--colorBlanco);
}
.bottom-section-h .second-footer .social-networks .button-sn-linkedin {
  box-sizing: border-box;
  margin: 15px 0 35px 0;
  width: 60px;
  height: 60px;
  background-color: var(--colorBlanco);
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-section-h .second-footer .social-networks .button-sn-linkedin:hover {
  background: #0e76a8;
  box-shadow: 0 0 15px hsla(199deg, 85%, 36%, 0.4);
}
.bottom-section-h .second-footer .social-networks .button-sn-linkedin .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: all 0.5s ease-in-out;
}
.bottom-section-h .second-footer .social-networks .button-sn-linkedin .icon path {
  transition: all 0.3s ease-in-out;
  fill: var(--colorAzul);
}
.bottom-section-h .second-footer .social-networks .button-sn-linkedin .icon:hover path {
  fill: var(--colorBlanco);
}
.bottom-section-h .second-footer .last {
  background-color: #151a1e;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-section-h .second-footer .last p {
  font-size: 14px;
  font-weight: 200;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}/*# sourceMappingURL=HomePage.css.map */