.hero-section-h {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/home-image.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .brand-section-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .brand-section {
      box-sizing: content-box;
      translate: 9vw;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow: hidden;
      .bar{
        z-index: 100;
        margin-right: 40px;
        border-radius: 100px;
        width: 4px;
        height: 0;
        background-color: var(--colorVerde);
      }
      .texts-lp{
        h1 {
          margin-bottom: 25px;
          font-size: 4em;
          font-weight: 600;
          line-height: 1.3;
          span {
            color: var(--colorVerde);
          }
        }
        .par-lp{
          color: #9E9E9E;
        }
        .button-home {
          margin-top: 50px;
          height: 50px;
          font-weight: 600;
          text-transform: capitalize;
          border-radius: 10px;
          width: 250px;
        }
      }
    }
  }
  .first-footer {
    position: absolute;
    bottom: 0;
    font-weight: 200;
    background-color: rgba(21, 31, 39, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 70px;
    border-top: 1px solid #233545;
    border-bottom: 1px solid #233545;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    img {
      max-width: 64px;
    }
  }
}

.bottom-section-h {
  width: 100%;
  height: 240vh;
  background: linear-gradient(155.51deg, #223342 0%, #161E24 100%);
  .divider{
    width: 80%;
    height: 1.5px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: var(--colorAzulClaro);
  }
  .features{
    width: 100%;
    height: 18%;
  }
  .benefits{
    width: 100%;
    height: 25%;
  }
  .hawkeye-team{
    width: 100%;
    height: 24%;
  }
  .last-cta{
    width: 100%;
    height: 17%;
  }
  .second-footer{
    width: 100%;
    height: 16%;
    background-color: var(--colorAzul);
    border-top: 1px solid var(--colorAzulClaro);
  }
}
