.hero-section-h {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/home-image.png");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section-h .brand-section-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section-h .brand-section-container .brand-section {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  translate: 9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.hero-section-h .brand-section-container .brand-section .bar {
  z-index: 100;
  margin-right: 40px;
  border-radius: 100px;
  width: 4px;
  height: 0;
  background-color: var(--colorVerde);
}

.hero-section-h .brand-section-container .brand-section .texts-lp h1 {
  margin-bottom: 25px;
  font-size: 4em;
  font-weight: 600;
  line-height: 1.3;
}

.hero-section-h .brand-section-container .brand-section .texts-lp h1 span {
  color: var(--colorVerde);
}

.hero-section-h .brand-section-container .brand-section .texts-lp .par-lp {
  color: #9e9e9e;
}

.hero-section-h .brand-section-container .brand-section .texts-lp .button-home {
  margin-top: 50px;
  height: 50px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
  width: 250px;
}

.hero-section-h .first-footer {
  position: absolute;
  bottom: 0;
  font-weight: 200;
  background-color: rgba(21, 31, 39, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 70px;
  border-top: 1px solid #233545;
  border-bottom: 1px solid #233545;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 15px;
}

.hero-section-h .first-footer img {
  max-width: 64px;
}

.bottom-section-h {
  width: 100%;
  background: linear-gradient(155.51deg, #223342 0%, #161e24 100%);
}

.bottom-section-h .divider {
  width: 80%;
  height: 1.5px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: var(--colorAzulClaro);
}

.bottom-section-h .features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-section-h .features .features-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 75px;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.bottom-section-h .features .features-content .features-titles p {
  font-size: 1em;
  color: var(--colorVerde);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}

.bottom-section-h .features .features-content .features-titles h3 {
  font-size: 1.5em;
  font-weight: 600;
}

.bottom-section-h .features .features-content .features-titles h3 span {
  color: var(--colorVerde);
}

.bottom-section-h .features .features-content .features-blocks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.bottom-section-h .features .features-content .features-blocks-container .box-feature {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 250px;
  background-color: var(--colorAzulClaro);
  border-radius: 20px;
}

.bottom-section-h .benefits {
  width: 100%;
  height: 65vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-section-h .hawkeye-team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles {
  text-align: center;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles h3 {
  font-size: 2em;
  font-weight: 600;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles h3 span {
  color: var(--colorVerde);
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .hawkeye-team-titles p {
  padding-top: 10px;
  font-weight: 300;
  font-size: 1em;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  text-align: center;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members .team-box {
  width: 300px;
  height: 80%;
  border-radius: 20px;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Arotu-background {
  background-color: var(--colorAzulClaro);
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Alan-background {
  background-color: var(--colorAzulClaro);
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Guido-background {
  background-color: var(--colorAzulClaro);
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members #Ary-background {
  background-color: var(--colorAzulClaro);
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members h4 {
  padding-top: 20px;
  font-size: 1.25em;
  font-weight: 600;
}

.bottom-section-h .hawkeye-team .hawkeye-team-content .team-members p {
  font-size: 1em;
  font-style: italic;
  color: var(--colorVerde);
  padding-top: 10px;
  text-shadow: 0 0 5px rgba(77, 203, 113, 0.4);
}

.bottom-section-h .last-cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-section-h .last-cta .last-cta-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-section-h .last-cta .last-cta-content .last-cta-titles {
  text-align: center;
}

.bottom-section-h .last-cta .last-cta-content .last-cta-titles h3 {
  font-size: 2em;
  font-weight: 600;
}

.bottom-section-h .last-cta .last-cta-content .last-cta-titles h3 span {
  color: var(--colorVerde);
}

.bottom-section-h .last-cta .last-cta-content .last-cta-titles p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

.bottom-section-h .last-cta .last-cta-content .button-home {
  margin-top: 50px;
  height: 50px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 10px;
  width: 250px;
}

.bottom-section-h .second-footer {
  width: 100%;
  background-color: var(--colorAzul);
  border-top: 1px solid var(--colorAzulClaro);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bottom-section-h .second-footer #left-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
}

.bottom-section-h .second-footer #left-footer h3 {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: 600;
}

.bottom-section-h .second-footer #left-footer p {
  padding-top: 20px;
  font-size: 1em;
  font-weight: 300;
}

.bottom-section-h .second-footer #left-footer p a {
  color: var(--colorLink);
  text-decoration: none;
  -webkit-transition: -webkit-text-decoration 250ms;
  transition: -webkit-text-decoration 250ms;
  transition: text-decoration 250ms;
  transition: text-decoration 250ms, -webkit-text-decoration 250ms;
}

.bottom-section-h .second-footer #left-footer p a:hover {
  text-decoration: underline;
}

.bottom-section-h .second-footer #right-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5vh;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-section-h .second-footer #right-footer p {
  text-align: start;
  font-size: 1em;
  color: var(--colorVerde);
  padding-top: 10px;
  text-shadow: 0 0 5px rgba(77, 203, 113, 0.4);
  padding-bottom: 10px;
}

.bottom-section-h .second-footer #right-footer h3 {
  text-align: start;
  font-size: 1.5em;
  font-weight: 600;
}
/*# sourceMappingURL=HomePage.css.map */