.hero-section-h {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/home-image.png");
  background-repeat: no-repeat;
  background-size: cover;

  .brand-section-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .brand-section {
      box-sizing: content-box;
      translate: 9vw;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow: hidden;
      .bar {
        z-index: 100;
        margin-right: 40px;
        border-radius: 100px;
        width: 4px;
        height: 0;
        background-color: var(--colorVerde);
      }
      .texts-lp {
        h1 {
          margin-bottom: 25px;
          font-size: 4em;
          font-weight: 600;
          line-height: 1.3;
          span {
            color: var(--colorVerde);
          }
        }
        .par-lp {
          color: #9e9e9e;
        }
        .button-home {
          margin-top: 50px;
          height: 50px;
          font-weight: 600;
          text-transform: capitalize;
          border-radius: 10px;
          width: 250px;
        }
      }
    }
  }
  .first-footer {
    position: absolute;
    bottom: 0;
    font-weight: 200;
    background-color: rgba(21, 31, 39, 0.8);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 70px;
    border-top: 1px solid #233545;
    border-bottom: 1px solid #233545;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    img {
      max-width: 64px;
    }
  }
}

.bottom-section-h {
  width: 100%;
  background: linear-gradient(155.51deg, #223342 0%, #161e24 100%);
  .divider {
    width: 80%;
    height: 1.5px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: var(--colorAzulClaro);
  }
  .features {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .features-content {
      box-sizing: border-box;
      padding-top: 75px;
      padding-bottom: 50px;
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .features-titles {
        text-align: center;
        padding-bottom: 100px;
        p {
          font-size: 1em;
          color: var(--colorVerde);
          padding-top: 10px;
          padding-bottom: 10px;
          font-weight: 300;
        }
        h3 {
          font-size: 1.8em;
          font-weight: 600;
          span {
            color: var(--colorVerde);
          }
        }
      }
      .features-blocks-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .rowf-1 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }

        .rowf-2 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        .box-feature {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          padding: 25px;
          margin-bottom: 50px;
          width: 350px;
          height: 175px;
          border-radius: 20px;
          img {
            width: 72px;
          }
          h4 {
            text-align: center;
            font-size: 1.25em;
            font-weight: 600;
            padding-bottom: 15px;
          }
          p {
            color: #bbbbbb;
            font-size: 1em;
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
  }
  .benefits {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
      max-width: 1000px;
      min-width: 300px;
    }
    p {
      text-align: center;
      font-size: 1em;
      font-weight: 300;
      color: var(--colorVerde);
      margin-top: 5vh;
    }
    h3 {
      text-align: center;
      margin-bottom: 5vh;
      font-size: 2em;
      font-weight: 600;
      span {
        color: var(--colorVerde);
      }
    }
  }
  .hawkeye-team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 75px;

    .hawkeye-team-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .hawkeye-team-titles {
        transition: all 1s ease-in;
        text-align: center;
        h3 {
          font-size: 2em;
          font-weight: 600;
          span {
            color: var(--colorVerde);
          }
        }
        p {
          padding-top: 10px;
          font-weight: 300;
          font-size: 1em;
          padding-bottom: 75px;
        }
      }
      .team-members {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        .card-member {
          margin: 50px 25px 25px 25px;
          transition: all 1s ease-in;
        }

        .card-member:nth-child(2) {
          transition-delay: 200ms;
        }

        .card-member:nth-child(3) {
          transition-delay: 400ms;
        }

        .card-member:nth-child(4) {
          transition-delay: 600ms;
        }

        .team-box {
          width: 300px;
          height: 350px;
          border-radius: 20px;
        }

        .row-1 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }

        .row-2 {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        #Arotu-background {
          background-color: var(--colorAzulClaro);
        }

        #Alan-background {
          background-color: var(--colorAzulClaro);
        }

        #Guido-background {
          background-color: var(--colorAzulClaro);
        }

        #Ary-background {
          background-color: var(--colorAzulClaro);
        }
        h4 {
          padding-top: 20px;
          font-size: 1.25em;
          font-weight: 600;
        }
        p {
          font-size: 1em;
          font-style: italic;
          color: var(--colorVerde);
          padding-top: 10px;
        }
      }
    }
  }
  .last-cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .last-cta-content {
      box-sizing: border-box;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .last-cta-titles {
        text-align: center;
        h3 {
          font-size: 2em;
          font-weight: 600;
          span {
            color: var(--colorVerde);
          }
        }
        p {
          padding-top: 10px;
          font-size: 16px;
          font-weight: 300;
        }
      }
      .button-home {
        margin-top: 50px;
        height: 50px;
        font-weight: 600;
        text-transform: capitalize;
        border-radius: 10px;
        width: 250px;
      }
    }
  }
  .second-footer {
    width: 100%;
    background-color: #151a1e;
    border-top: 1px solid var(--colorAzulClaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .footer-content {
      box-sizing: border-box;
      padding-top: 5vh;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3 {
        padding-top: 3vh;
        text-align: left;
        font-size: 1.5em;
        font-weight: 600;
      }
      p {
        text-align: start;
        font-size: 1em;
        padding-top: 3vh;
        padding-bottom: 3vh;
        a {
          color: var(--colorLink);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .social-networks {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      .button-sn-twitter {
        margin: 15px 0 35px 0;
        width: 60px;
        height: 60px;
        background-color: var(--colorBlanco);
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #1da1f2;
          box-shadow: 0 0 15px hsla(203, 89, 53, 0.4);
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          transition: all 0.5s ease-in-out;
          path {
            transition: all 0.5s ease-in-out;
            fill: var(--colorAzul);
          }
          &:hover {
            path {
              fill: var(--colorBlanco);
            }
          }
        }
      }
      .button-sn-instagram {
        box-sizing: border-box;
        margin: 15px 0 35px 0;
        width: 60px;
        height: 60px;
        background-color: var(--colorBlanco);
        cursor: pointer;
        border-radius: 45px;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: #d6249f;
          background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          );
          box-shadow: 0 0 15px hsla(319, 71, 49, 0.4);
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          transition: all 0.5s ease-in-out;
          path {
            transition: all 0.3s ease-in-out;
            fill: var(--colorAzul);
          }
          &:hover {
            path {
              fill: var(--colorBlanco);
            }
          }
        }
      }
      .button-sn-linkedin {
        box-sizing: border-box;
        margin: 15px 0 35px 0;
        width: 60px;
        height: 60px;
        background-color: var(--colorBlanco);
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: #0e76a8;
          box-shadow: 0 0 15px hsla(199, 85, 36, 0.4);
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          transition: all 0.5s ease-in-out;
          path {
            transition: all 0.3s ease-in-out;
            fill: var(--colorAzul);
          }
          &:hover {
            path {
              fill: var(--colorBlanco);
            }
          }
        }
      }
    }
    .last {
      background-color: #151a1e;
      width: 100%;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 14px;
        font-weight: 200;
      }
    }
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}
