.wrapper-r {
  width: 100%;
  min-height: 100vh;
  background-color: var(--colorAzul);
  overflow: hidden;
}

.wrapper-r .form-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-r .form-header .form-header-content {
  width: 45%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.wrapper-r .form-header .form-header-content p {
  font-size: 1em;
  color: var(--colorVerde);
}

.wrapper-r .form-header .form-header-content h1 {
  font-size: 3em;
  font-weight: 700;
  margin-top: 15px;
}

.wrapper-r .form-container {
  padding-top: 40px;
  margin: 0 auto;
  width: 45%;
}

.wrapper-r .form-container Form {
  margin-bottom: 8vh;
  width: 100%;
}

.wrapper-r .form-container Form .court-map-field {
  width: 100%;
  height: 450px;
  border: 1px solid var(--colorAzulClaro);
  border-radius: 5px;
}

.wrapper-r .form-container Form .court-map-field canvas {
  z-index: 100;
  cursor: pointer;
}

.wrapper-r .form-container Form input[type="date"] {
  cursor: pointer;
}

.wrapper-r .form-container Form .file-box-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 100%;
  min-height: 150px;
  text-align: center;
  cursor: pointer;
  color: #4a5258;
  border: 1px dashed #4a5258;
  -webkit-transition: all 10ms ease-out;
  transition: all 10ms ease-out;
}

.wrapper-r .form-container Form .file-box-container:hover {
  border: 1px dashed var(--colorBlanco);
  color: var(--colorBlanco);
}

.wrapper-r .form-container Form .file-box-container:hover svg path {
  fill: var(--colorBlanco);
}

.wrapper-r .form-container Form .file-box-container svg {
  padding-bottom: 25px;
}

.wrapper-r .form-container Form .file-box-container span {
  font-weight: 600;
}

.wrapper-r .form-container Form .file-box-container input[type="file"] {
  cursor: pointer;
  width: 45%;
  min-height: 150px;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.divider-r {
  width: 0;
  height: 1px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: var(--colorAzulClaro);
}

::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}
/*# sourceMappingURL=RecordPage.css.map */