.wrapper-r {
  width: 100%;
  min-height: 100vh;
  background-color: var(--colorAzul);
  overflow: hidden;
  .form-header {
    box-sizing: border-box;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form-header-content {
      width: 45%;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 8vh;
      padding-bottom: 8vh;
      p {
        font-size: 1em;
        color: var(--colorVerde);
      }
      h1 {
        font-size: 3em;
        font-weight: 700;
        margin-top: 15px;
      }
    }
  }
  .form-container {
    padding-top: 40px;
    margin: 0 auto;
    width: 45%;
    Form {
      margin-bottom: 8vh;
      width: 100%;
      .court-map-field {
        width: 100%;
        height: 450px;
        border: 1px solid var(--colorAzulClaro);
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .corner {
          position: relative;
          width: 25px;
          height: 25px;
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
        }
      }
      input[type="date"] {
        cursor: pointer;
      }
      .file-box-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 100%;
        min-height: 150px;
        text-align: center;
        cursor: pointer;
        color: #4a5258;
        border: 1px dashed #4a5258;
        transition: all 10ms ease-out;
        &:hover {
          border: 1px dashed var(--colorBlanco);
          color: var(--colorBlanco);
          svg {
            path {
              fill: var(--colorBlanco);
            }
          }
        }
        svg {
          padding-bottom: 25px;
        }
        span {
          font-weight: 600;
        }
        input[type="file"] {
          cursor: pointer;
          width: 45%;
          min-height: 150px;
          opacity: 0;
          position: absolute;
          z-index: 1;
        }
      }
    }
  }
}

.divider-r {
  width: 0;
  height: 1px;
  margin: 0 auto;
  border-radius: 100%;
  background-color: var(--colorAzulClaro);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
